
.DS_Store
Apllo/vue2/node_modules/
Apllo/vue2/dist
Apllo/vue2/yarn-error.log
Apllo/nodejs/node_modules
Apllo/vue2/.yarnrc.yml
Apllo/vue2/.yarn/
project/Apllo/fancy-ui-book/node_modules
project/Apllo/fancy-ui/node_modules
project/Apllo/vue-vite/node_modules
project/Apllo/fancy-ui/pnpm-lock.yaml
project/Apllo/fancy-ui/play/node_modules/.package-lock.json
project/Apllo/fancy-ui/play/node_modules/
project/Apllo/fancy-ui/play/package-lock.json
